<mat-drawer-container class="landing-page-container" [hasBackdrop]="true">
  <!-- SideBar -->
  <mat-drawer class="side-nav" #drawer [mode]="'over'">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <!-- TopBar -->
    <mat-toolbar class="topbar-container shadow fixed z-30">
      <span class="text-white">My App</span>
      <button
        mat-icon-button
        class="hamburger-button"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon class="white-icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- End of Topbar -->

    <!-- Content -->
    <div class="banner-section">
      <app-banner />
    </div>
    <div class="product-settings-section">
      <app-product-settings />
    </div>
    <div class="list-product">
      <app-list-product [products]="listProduct" />
    </div>
    <div class="flex items-center justify-center"></div>
    <!-- End of Content -->
  </mat-drawer-content>
</mat-drawer-container>
